
body{ font-family: "Cabin", sans-serif;
    
    color: rgb(0, 0, 0);
    
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(https://www.americanrivers.org/wp-content/uploads/2022/12/Gallatin-River-MT-S.-Bosse.jpeg);
    
    /* height: 100vh ;  */
    
    text-align: center;
    
    margin: 0;
    
    padding: 20px;
    
    background-size:cover; 
    
    background-repeat: no-repeat;
    
    background-position: cover; 
    
    background-attachment: fixed;
    
    
    
}

h1,h2,h3{ font-family: "Rammetto One", sans-serif;
    
    color: rgba(0, 0, 0, 1);
    
    background-color: rgba(224, 255, 46, 0.5);
    
    
}

header >h1{
    
    font-size: 40px;
}

nav a{
    
    background-color: rgba(202, 234, 25, 0.3);
    
    color: rgb(0, 0, 0);
    
    padding: 10px 20px ;
    
    border-radius: 8px;
    
    text-decoration: none;
    
    transition: 0.5 ;
    
    display: inline-block;
    
    padding-bottom: 6px;
    
}

/* quando ci passi sopra con il mouse */
nav a :hover{
    
    background-color: rgb(255, 0, 21);
    
    color: rgba(87, 253, 16, 1.0);
    
    border-bottom: 4px solid rgb(31, 20, 237);
    
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    list-style: none; 
    padding: 0;
    margin: 0;
    
}

main{
    display: flex;
    align-items: flex-start; 
    gap: 10px;
    
}

article{
    width: 60%;
    
}

aside{
    width: 40%;
    padding: 20px;
    background-color: rgba(231, 221, 83, 0.8)
    ;
    
}

footer li{
    list-style: none;
}

/*  sto mettendo l'impostazione per smartphone, max 600px di larghezza */

@media screen and (max-width:600px) {
    
    .aulab1 { 
        min-height: 40vh;
        max-width: 100%;
        height: auto;
        /* padding: 10px
        font-size: 1rem */
    }
    
}  


